*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: lato;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #FEFDFE;

    img{
        width: 20px;
    }

    nav{
        display: flex;
        color: #1C2B33;
        font-size: 16px;
        font-weight: 500;
        min-width: 61px;
        height: 35px;
        padding: 5px 5px;
    }

    nav:hover{
        cursor: pointer;
        align-items: center;
        background-color: #E2E3E4;
        transition: all 350ms;
        border-radius: 10px;
        
    }

    .nav-border:hover{
        border: 1px dotted red;
    }
}

.headerLogo, .headerStart, .headerMiddle, .headerEnd{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo{
    gap: 5px;
    
    img{
        width: 30px;
        height: 35px;
    }
    
    .sideMenu{
        width: 100%;
        display: none;
    }

    h1{
        font-size: 25px;
        font-weight: 600;
    }
    
}

.headerLogo:hover{
    cursor: pointer;
}

.headerStart{
    nav{
        align-items: center;
    }
    
    nav{
        margin: 0 10px;
    }
}

.headerMiddle{
    min-width: 320px;

    nav{
        justify-content: center;
        align-items: center;
    }
    
}

.headerEnd{
    gap: 5px;

    img{
        width: 30px;
        display: block;
    }
}

.headerEnd:hover{
    cursor: pointer;
}


.button{
    padding: 15px;
    width: auto;
    align-items: center;
    margin: 0 auto;
    background-color: #035dca;
    outline: none;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;

}

.button:hover{
    background-color: #0050B3;
    cursor: pointer;
}

.btn-1{
    background-color: #E2E3E4;
    color: #1C2B33;
    outline: none;
    border: 0.5px solid #B5B9BE;
}

.btn-1:hover{
    cursor: pointer;
    background-color: #E2E3E4;
}

.heroMain {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    video {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }

    .play{
        img{
            width: 60px;
            height: auto;
            position: absolute;
            bottom: 35px;
            right: 40px;
        }
    }
}

.heroContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    color: black;
    z-index: 3;
    gap: 10px;

    h2{
        font-size: 2.5rem;
        line-height: 1.5;
        font-weight: 600;
        text-align: center;
    }
} 

.hero-2 {
    max-width: 1300px;
    max-height: auto;
    padding: 100px 20px;
    margin: 0 auto;
    width: 100%;
    display: grid;

    .top-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 10px;
        padding-bottom: 30px;

        h2 {
            font-size: 3rem;
            margin-top: 20px;
            text-align: center;
            color: #1C2B33;
        }

        button {
            width: auto;
            padding: 10px 20px;
            margin: 0 auto;
        }
    }

    .display {
        display: flex;
        gap: 1rem;
        max-width: 80%;
        margin: 0 auto;
        text-align: left;
        justify-items: center;
        padding: 20px;
        
        img {
            width: 250px; 
            height: 250px;
            object-fit: cover; 
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        }
    }

    .arrow{
        display: inline-block;
        justify-content: center;
        align-items: center;
        max-width: 30px;
        max-height: 30px;
        color: rgb(117, 115, 115);
        border: .8px solid lightgray;
        border-radius: 60%;
        padding-left: 5px;
    }
   
}

.hero-3{
    padding: 50px;
    justify-content: center;
    margin: 0 auto;
    
    .main-card{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .center{
        margin: 0 auto;
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        max-width: 700px;
        padding-top: 50px;


        h2{
            font-size: 2rem;
            max-width: 520px;
            color: #1C2B33;

        }
    }

    .imgCard {
        max-width: 580px;
        aspect-ratio: 1 / 1;
        overflow: hidden; 

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0 auto;
            border-radius: 20px;
            display: block;
        }
    }
    
    .imgCard-1  {
        display: flex;
        justify-content: center;
        align-items: center;
        transform:  translateY(-55%);
        img{
            max-width: 80px;
            height: auto;
        }
    }

    .cardNotes{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        gap: 10px;

        h3{
            font-size: 2.5rem;
            max-width: 100%;
            text-align: center;
            font-size: 36px;
            font-weight: 400;
            color: #1C2B33;
        }

        p{
            width: 90%;
            max-width: 260px;
            text-align: center;
            color: #4C5D69;
        }
    }
}

.hero-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
    padding: 50px 20px;

    h2{
        font-size: 48px;
        font-weight: 500;
        width: 60%;
        text-align: center;
        line-height: 1;
        color: #1C2B33;
    }

    .btn{
        padding: 20px;
        border: none;
    }

    .hero-4-vid {
        video{
            max-width: 1000px;
            max-height: 440px;
            border-radius: 20px;
        }
    }

    .center {
        display: flex;
        gap: 20px;
    }

}

#hero-5 {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    padding: 50px 20px;
    gap: 20px;

    h2 {
        font-size: 40px;
        font-weight: 600;
        color: #1C2B33;
    }

    h4 {
        font-size: 25px;
        font-weight: 600;
        color: #1C2B33;
    }

    p {
        font-size: 20px;
        color: #37444B;
        max-width: 1000px;
        line-height: 1.5;
    }

    .hero-5-left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;

        .button {
            padding: 10px;
            font-size: 17px;
        }
        
    }

    .hero-5-right {
        gap: 10px;
        display: flex;
        flex-direction: column;
        
        img {
            max-width: 100px;
            border-radius: 10px;
            margin: 10px 0;
            height: auto;
        }
    
        .flex-right {
            background-color: #F8F9FB;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(56, 4, 4, 0.1);
            display: flex;
            align-items: center;
            width: 100%;
            gap: 30px;
        }
    }

}

#hero-6 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;

    .hero-6-left {
        max-width: 40%;
        justify-content: space-between;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    .hero-6-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 40%;
        padding: 20px;
       justify-content: center;

       h2 {
            font-size: 36px;
            font-weight: 500;
            color: #1C2B33;
        }

        p {
            font-size: 18px;
            color: #37444B;
        }

    }
}

footer {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    padding: 30px;
    margin: 0 auto;
    border-top: .2px solid #858b8f;

    h3 {
        font-size: 20px;
        font-weight: 700;
        color: #1C2B33;

    }

    .footer-grids {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        /* color: #63717a; */
        line-height: 1.5;

        h4 {
            font-size: 18px;
            color: #465A69;
        }

        a {
            text-decoration: none;
            color: #1C2B33;
        }

        a:hover {
            text-decoration: underline;
        }

        .gridTwo, .gridFour, .gridSix, .gridSeven{
            margin-top: 20px;
        }
    }

    .flex-1 {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        max-width: 30%;

        .content {
            display: flex;
            gap: 5px;
            margin-bottom: 50px;
            color: #395768;
            font-size: 20px;

            img {
                height: auto;
                max-width: 20px;
                align-items: center;
            }
        }

        .footer-apps {
            img {
                height: auto;
                width: 100%;
                max-width: 40px;
                align-items: center;
                margin-right: 30px;
            }
        }
    }

    .flex-2 {
        display: flex;
        align-items: flex-end;
        height: 100%;
        min-height: 100vh;
    }
} 



@media (min-width: 300px) and (max-width: 478px) {
    .heroMain {
        .play{
            img {
                width: 40px;
                height: auto;
                bottom: 90px;
            }
        }

        .heroContent{
            h2{
                font-size: 1.5rem;
                line-height: 1.2;
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 768px) {

    p{
        font-size: 15px;
        line-height: 1.5;
        max-width: 400px;
    }

   h4 {
        font-size: 20px;
        line-height: 1;
        padding: 5px 0;
    }

    h2 {
        font-size: 30px;
        line-height: 1;
        padding: 5px 0;
    }

    #hero-5 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        max-width: 90%;

        .hero-5-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            width: 100%;
        }
    }

    #hero-6{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;

        .hero-6-left {
            width: 100%;
            max-width: 100%;
        }

        .hero-6-right {
            width :100%;
            max-width: 770px;
            

            .button {
                font-size: 17px;
            }
        }
    }

}

@media (min-width: 300px) and (max-width: 1280px) {
    header {
        margin: 0 auto;
        padding: 0 20px;
        min-width: 300px;

        .headerLogo {
            display: flex;
            gap: 10px;

            .sideMenu {
                width: 100%;
                max-width: 40px;
                display: block;
            }
        }

        .headerStart {
            display: none;
        }

        .headerMiddle { 
            .nav-border, .support {
                display: none;
            }

            .headerEnd {
                .parcel {
                    display: block;
                    padding-right: 50px;
                }

                .user {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 1023px) {
    
    .hero-2{
        height: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        

        .top-content {
            h2 {
                font-size: 2rem;
                line-height: 1.2;
            }
        }

        .display {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            height: 250px;
            width: 100%;
            min-height: 250px;
            margin: 0 auto;
            justify-content: center;
            padding: 20px 40px; 
            overflow-x: auto;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;

            .display-1 {
                scroll-snap-align: start; 
            }
        }

        .display img {
            flex: 0 0 auto;
            max-width: 300px;
            width: 100%;
            height: auto;
            border-radius: 20px;
            scroll-snap-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }
}

@media (min-width: 1023px) and (max-width: 1440px) {
    .display {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 20px;
        padding: 100px;
        white-space: nowrap;
        scrollbar-width: thin;
        justify-content: center;

    }

    
    .display::-webkit-scrollbar {
        height: 6px;
    }

    .display::-webkit-scrollbar-track {
        background: firebrick;
    }

    .display::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    .display::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .display-1 {
        flex: 0 0 auto; 
        width: 100%;
        max-width: 40%; 
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .card-notes {
            width: 100%;
            h3{
                width: 100%;
                padding: 10px;
                white-space: normal;  

            }
        }

        img{
            min-width: 450px;
            min-height: 400px;
            object-fit: contain;
        }
    }
}


@media (max-width: 1400px) {
    header {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 20px;

        .headerLogo, .headerStart, .headerMiddle, .headerEnd {
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            text-align: center;
        }
    }
}

@media (max-width: 2560px) {
    h2 {
        font-size: 2rem;
        line-height: 1.5;
        max-width: 1080px;
    }

    .hero-2 .display {
        display: flex;
        max-width: 1300px;
        margin: 0 auto;
        gap: 50px;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 24px;
            width: 100%;
            max-width: 90;
            padding: 10px;
        }

        p {
            font-size: 24px;
            padding: 10px;
            justify-content: center;
        }
    }
}


